<div class="container text-align">
<h1 class="mx-auto banner"> Here your answer</h1>
<p><em>This was you're question :<%= @question %></em></p>
<p class="bd-callout"><strong><%= @answer %></strong></p>
<p class="btn btn-default"> <%= link_to "Ask anotther question", question_path %></p>
</div>
