<div class="container text-align">
<h1 class="mx-auto banner"> Ask your stupid Question </h1>
<form action="/answers" method="get" class="row t-8 mx-auto" >
<div class="col-md-6" >
  <input type="text" name="question" class="form-control m-t-8" placeholder="Ask the stupid Coach">
  </div>
  <div class="col-md-6">
  <input type="submit" value="Ask!" class="btn btn-default">
  </div>
</form>
</div>
